.sawatch-admin-pane {
	width: 600px;
}
.sawatch-admin-pane .main-menu{
	width:400px;
	height:35px;
	position:relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sawatch-admin-pane .main-menu ul{
	display: inline-block;
	/* For IE7 */
	zoom: 1;
	*display: inline;
}

.sawatch-admin-pane .main-menu ul li{
	text-align: left;
	float:left;
	list-style:none;
	font-size:12px;
	padding:6px;
	margin-right:1px;
	border: 1px solid;
	cursor: pointer;
	cursor: hand;
}