/*=====================
	Admin Data Entry
  =====================*/
.sawatch-admin-pane {
	width: 800px;
}
.sawatch-admin-pane .main-menu{
	width:400px;
	height:35px;
	position:relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sawatch-admin-pane .main-menu ul{
	display: inline-block;
	/* For IE7 */
	zoom: 1;
	*display: inline;
}

.sawatch-admin-pane .main-menu ul li{
	text-align: left;
	float:left;
	list-style:none;
	font-size:12px;
	padding:6px;
	margin-right:1px;
	border: 1px solid;
	cursor: pointer;
	cursor: hand;
}

.sawatch-admin-pane .form-add {
	width:400px;
	float:left;
}

.sawatch-admin-pane .form-remove {
	width:400px;
	float:left;
}

.sawatch-admin-pane .form-add h3, .sawatch-admin-pane .form-remove h3{
	text-align: center;
}

/*=====================
	Senator Page
  =====================*/

.sawatch-senate-table {
	margin-left: 15px;
}

.sawatch-senate-table table{
	width:600px;
	border-spacing:3px 8px;
	border-collapse: separate;
}

.sawatch-senate-table table td {
	width:33%;
	border-top: 30px transparent;
	margin-bottom: 5px;
		
	padding: 10px;
}
.sawatch-senate-table table td:last-child {
	width:180px;
}
